<h1>Add a new Photo</h1>

<form action="http://localhost:3000/create_photo">

  <div>
    <label for="photo caption">Caption:</label>
    <input name="the_caption" type="text" size="50" id="photo_caption">
  </div>

  <div>
    <label for="photo_image_url">Image URL:</label>
    <input name="the_source" type="text" size="50" id="photo_image_url">
  </div>

  <div>
    <input type="submit" value="Create photo">
  </div>

</form>
